body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}



#timetableContainer{

    background-color: white; /* Replace with your desired background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
    border-radius: 10px;
    margin: 20px auto;
    padding: 3em;
    width: 90%;

}

#timetable{
    display: grid;
    grid-template-columns: 1fr repeat(5, minmax(100px, 1fr)); /* Adjust the number of columns based on your needs */
    grid-gap: 10px;
}

#times {
    grid-column: 1;
}

#d1, #d2, #d3, #d4, #d5 {
    grid-column: span 1; /* Each grid item spans 5 columns */
}

h4 {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
    margin: 0;
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Additional styles for better aesthetics, you can modify them as needed */
main {
    max-width: 800px;
    margin: 0 auto;
}

li p {
    margin: 0;
}



