body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}



#timetableContainer{

    background-color: white; /* Replace with your desired background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the shadow values as needed */
    border-radius: 10px;
    margin: 20px auto;
    padding: 3em;
    width: 90%;

}

#timetable {
    display: grid;
    /* grid-template-columns: 1.5fr repeat(5, minmax(100px, 1fr));
    grid-template-columns: 1.5fr minmax(100px, 1fr); */

    /* grid-template-rows: repeat(12, 1fr); Add 12 rows */
    grid-gap: 10px;
}

.dayTable{
    grid-template-columns: 1.5fr minmax(100px, 1fr);
}

.fullTable{
    grid-template-columns: 1.5fr repeat(5, minmax(100px, 1fr));
}


#times, .day {
    display: grid;
    grid-template-rows: repeat(12, 70px);
}

main {
    max-width: 800px;
    margin: 0 auto;
}

li p {
    margin: 0;
}

.hidden{
    display: none;
}


